body{
    margin:auto;
}
header{
    background-color: rgb(229, 182, 95);
    height: 40px;
}
header > h2{
    text-align: center;
   background-size: 3%;
   background-color: rgb(203, 142, 88);
}
#app{
    background-color: rgb(88, 64, 87);
    height:230px;
    width:100%;
    border-radius:40%;
}
.wri{
    text-align: center;
    margin-left: 30%;
    font-weight: bolder;
    font-style: oblique;
    font-size: 39px;
    margin-top: 7%;
    position: absolute;
    color: rgb(246, 243, 243);
   
}
.id{
    font-size: 20px;
    color: rgb(9, 8, 8);
}
.log{
    background-color: rgb(156, 136, 174);
    height:80px;
    width:15%;
    margin-left:35%;
    border-radius:25%;
}
.id1{
    font-size: 20px;
    color: rgb(9, 8, 8);
    margin-left:6%;
    margin-top:2%;
    position: absolute;
}
.log1{
    background-color: rgb(156, 136, 174);
    height:80px;
    width:15%;
    margin-left:60%;
    border-radius:25%;
    margin-top: -7.01%;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#type{
    border: dotted;
    border-width: 20%;
}