/* margin can also be 0px */
body{
    margin: auto;  
}
header{
    background-color: rgb(199, 78, 78);
    height: 90px;
}
.name{
    font-size: 50px;
    color:rgb(231, 237, 239);
    font-weight:bolder ;
    float:left;
    margin-left: ;
}
#new{
    float:right;
}
.im{
    height: 30px;
}
.sec1{
    background-color: rgb(225, 163, 173);
    height:400px;
}
.sec2{
    background-color: rgb(225, 163, 173);
    height:400px;
}
footer{
    background-color: rgb(199, 78, 78);
    height: 120px;
}
